<div class="mainBox">
    <div class="makerTitle">Back End<br />Developer</div>
    <div class="name">강지은</div>
</div>

<div class="infoBox">
    <div class="informactionTitle">Info</div>
    <ul>
        <li>
        <span class="textLeft">생년월일</span>
        <span class="textRight">1991.03.22</span>
        </li>
        <li>
        <span class="textLeft">연락처</span>
        <span class="textRight">010-9947-1889</span>
        </li>
        <li>
        <span class="textLeft">메일</span>
        <span class="textRight">wldms1889@naver.com</span>
        </li>
        <li>
        <span class="textLeft">Site</span>
        <span class="textRight"><a href="https://github.com/DevSelena/" target="_blank" >https://github.com/DevSelena/</a></span>
        </li>
    </ul>
</div>

<div class="skillsBox">
    <div class="informactionTitle">Skills</div>
    <ul>
        <li>
            <div class="box">
                <span class="textLeft">Ps</span>
                <span class="textRight">Photo Shop</span>
            </div>
            <div class="box">
                <span class="textLeft">Ai</span>
                <span class="textRight">Illustrator</span>
            </div>
        </li>
        <li>
            <div class="box">
                <span class="textLeft">HTML</span>
                <span class="textRight">HTML</span>
            </div>
            <div class="box">
                <span class="textLeft">CSS</span>
                <span class="textRight">CSS</span>
            </div>
        </li>
        <li>
            <div class="box">
                <span class="textLeft">FI</span>
                <span class="textRight">Figma</span>
            </div>
            <div class="box">
                <span class="textLeft">Ae</span>
                <span class="textRight">After Effects</span>
            </div>
        </li>
    </ul>
</div>
  
<div class="Experience">
    <div class="informactionTitle">Experience</div>
    <ul>
        <li>
            <span class="textLeft">2018.09.04 ~ 2018.11.07</span>
            <span class="textRight">편집향상과정(포토샵 입문과 활용/일러스트레이터 입문과 활용)</span>
        </li>
        <li>
            <span class="textLeft">2019.02.20 ~ 2019.08.13</span>
            <span class="textRight">과정평가형 웹디자인 기능사 과정 수료</span>
        </li>
        <li>
          <span class="textLeft">2020.07.10</span>
          <span class="textRight">부산디자인진흥원 SNS에 최적화된 카드뉴스 제작노하우</span>
        </li>
        <li>
          <span class="textLeft">2019.11.25 ~ ing</span>
          <span class="textRight">오더온 주식회사 Designer</span>
        </li>
    </ul>
</div>

<div class="Certificate">
    <div class="informactionTitle">Certificate</div>
    <div class="textRight">웹디자인 기능사 자격증</div>
</div>
