<div class="mainBox">
  <div class="makerTitle">Web<br />developer</div>
  <div class="name">강서하</div>
</div>

<div class="infoBox">
  <div class="informactionTitle">Info</div>
  <ul>
    <li>
      <span class="textLeft">생년월일</span>
      <span class="textRight">1990.11.30</span>
    </li>
    <li>
      <span class="textLeft">연락처</span>
      <span class="textRight">010-3820-4030</span>
    </li>
    <li>
      <span class="textLeft">메일</span>
      <span class="textRight">mooo4030@naver.com</span>
    </li>
    <li>
      <span class="textLeft">Github</span>
      <span class="textRight"><a href="https://github.com/seooooha/" target="_blank" >https://github.com/DevSelena/</a></span>
    </li>
    <li>
      <span class="textLeft">Blog</span>
      <span class="textRight"><a href="https://selena30.tistory.com/" target="_blank" >https://selena30.tistory.com/</a></span>
    </li>
  </ul>
</div>

<div class="skillsBox">
  <div class="informactionTitle">Skills</div>
  <ul>
    <li>
        <div class="box">
            <span class="textLeft">NODE</span>
            <span class="textRight">NODE JS</span>
        </div>
        <div class="box">
            <span class="textLeft">PHP</span>
            <span class="textRight">PHP</span>
        </div>
    </li>
    <li>
        <div class="box">
            <span class="textLeft">TS</span>
            <span class="textRight">TYPE SCRIPT</span>
        </div>
        <div class="box">
            <span class="textLeft">JS</span>
            <span class="textRight">JAVA SCRIPT</span>
        </div>
    </li>
    <li>
        <div class="box">
            <span class="textLeft">M</span>
            <span class="textRight">MONGO DB</span>
        </div>
        <div class="box">
            <span class="textLeft">SQL</span>
            <span class="textRight">MY SQL</span>
        </div>
    </li>
    <li>
        <div class="box">
            <span class="textLeft">AWS</span>
            <span class="textRight">AWS</span>
        </div>
        <div class="box">
            <span class="textLeft">L</span>
            <span class="textRight">Linux</span>
        </div>
    </li>
  </ul>
</div>

<div class="Experience">
  <div class="informactionTitle">Experience</div>
  <ul>
      <li>
          <span class="textLeft">2019.10 ~ 2020.04</span>
          <span class="textRight">부산it교육센터 빅데이터 기반 자바(JAVA)응용 SW개발</span>
      </li>
      <li>
          <span class="textLeft">2020.07 ~ 2020.09</span>
          <span class="textRight">DND3기 개발자와 디자이너 협업 사이드프로젝트 제작</span>
      </li>
      <li>
        <span class="textLeft">2020.04 ~ 2020.10</span>
        <span class="textRight">오더온 백엔드 개발자</span>
      </li>
      <li>
        <span class="textLeft">2020.10 ~ </span>
        <span class="textRight">사이다경제 백엔드 개발자</span>
      </li>
    </li>
  </ul>
</div>

<div class="Certificate">
  <div class="informactionTitle">Certificate</div>
  <div class="textRight">정보처리산업기사 / 한국산업인력공단 / 2020.08 최종합격</div>
</div>