<div class="mainBox">
    <div class="makerTitle">Front End<br />Developer</div>
    <div class="name">손예준</div>
</div>

<div class="infoBox">
    <div class="informactionTitle">Info</div>
    <ul>
        <li>
            <span class="textLeft">생년월일</span>
            <span class="textRight">1994.01.08</span>
        </li>
        <li>
            <span class="textLeft">연락처</span>
            <span class="textRight">010-9027-7225</span>
        </li>
        <li>
            <span class="textLeft">메일</span>
            <span class="textRight">yjdev@naver.com</span>
        </li>
        <li>
            <span class="textLeft">Github</span>
            <span class="textRight"><a href="https://github.com/DevJaden" target="_blank" >https://github.com/DevSelena/</a></span>
          </li>
          <li>
            <span class="textLeft">Blog</span>
            <span class="textRight"><a href="https://blog.naver.com/yjdev" target="_blank" >https://blog.naver.com/mooo4030</a></span>
          </li>
    </ul>
</div>

<div class="skillsBox">
    <div class="informactionTitle">Skills</div>
    <ul>
      <li>
          <div class="box">
              <span class="textLeft">HTML</span>
              <span class="textRight">HTML</span>
          </div>
          <div class="box">
              <span class="textLeft">CSS</span>
              <span class="textRight">CSS</span>
          </div>
      </li>
      <li>
          <div class="box">
              <span class="textLeft">NODE</span>
              <span class="textRight">NODE JS</span>
          </div>
          <div class="box">
              <span class="textLeft">React</span>
              <span class="textRight">React</span>
          </div>
      </li>
      <li>
          <div class="box">
              <span class="textLeft">TS</span>
              <span class="textRight">TYPE SCRIPT</span>
          </div>
          <div class="box">
              <span class="textLeft">JS</span>
              <span class="textRight">JAVA SCRIPT</span>
          </div>
      </li>
      <li>
          <div class="box">
              <span class="textLeft">L/S</span>
              <span class="textRight">Less / Sass</span>
          </div>
          <div class="box">
              <span class="textLeft">AWS</span>
              <span class="textRight">AWS</span>
          </div>
      </li>
    </ul>
  </div>
  
  <div class="Experience">
    <div class="informactionTitle">Experience</div>
    <ul>
        <li>
            <span class="textLeft">2019.02</span>
            <span class="textRight">부산과학기술대학 소프트웨어전공 졸업</span>
        </li>
        <li>
            <span class="textLeft">2019.03 ~ 2019.06</span>
            <span class="textRight">M컴퓨터 학원 웹개발과정 수료</span>
        </li>
        <li>
            <span class="textLeft">2019.08 ~ ing</span>
            <span class="textRight">오더온 주식회사 Front end Developer</span>
        </li>
    </ul>
  </div>
  
  <div class="Certificate">
    <div class="informactionTitle">Certificate</div>
    <div class="textRight">웹디자인 기능사 자격증</div>
  </div>